*{
    margin: 0%;
    padding:0%;
    text-align: center;
}
body{
    background-image: url('qua.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}
h1{
    text-align: center;
}


h2{
    background-color: hsl(200, 9%, 81%);
    border-radius: 1vh;
    color: #000;
    text-align: center;
    justify-content: center;
    text-align: justify;
    height: 20vh;
}
button{
    width: 10vh;
    background-color: aquamarine;
    height: 5vh;
    border-radius: 10px;
}